* {
    margin: 0;
    padding: 0;
    
}

#container {
    height: 90vh;
    width: 100vw;
    .cannon_field {
        margin-bottom: 10px;
        border: 3px solid #000;
    }
}


#div2 {
    animation: move 5s linear infinite;
    @keyframes move {
        0% {
            transform: translate(0);
        }
        50% {
            transform: translate(50%);
        }
    }
}